.home-container {
    padding-top: 115px;
    margin-left: 120px;
    
    
}



.home-text-title {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;

}

.home-text-subtitle {
    padding-top: 25px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
    margin-bottom: 50px;

}